* {
    margin : 0;
    padding : 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #f9fafc ;
}

.navbar {
    display: flex ;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.navbar_logo {
    width: 100px ;
}

.navbar_logopng {
    width: 100% ;
}

.navbar_menu_items {
    background-image: linear-gradient(
        to right ,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100% 
    ) ;
    color : #fff ;
    border: none ;
    padding: 15px 30px ;
    border-radius: 4px ;
    font-size: 15px ;
    font-weight: 600;
}

.navbar_menu_items:hover {
    border: 2px solid #fff;
    cursor: pointer ;
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between ;
        padding: 10px 30px ;
    }
}

@media (min-width: 1024px) {
    .navbar_logopng {
        width: 100px;
    }
    .navbar {
        padding: 1px 30px ;
    }
}
    
